/*#region Fonts*/
@font-face {
  font-family: Calibri;
  font-weight: 900;
  src: url("../fonts/calibrib.ttf");
}
@font-face {
  font-family: Calibri;
  font-weight: 700;
  src: url("../fonts/calibrib.ttf");
}
@font-face {
  font-family: Calibri;
  font-weight: 600;
  src: url("../fonts/calibrib.ttf");
}
@font-face {
  font-family: Calibri;
  font-weight: 400;
  src: url("../fonts/calibri.ttf");
}
@font-face {
  font-family: Calibri;
  font-weight: 300;
  src: url("../fonts/calibril.ttf");
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-red: #fe0000;
  --clr-card-bg: #fbf9fa;
  --clr-footer-bg: #f2f2f2;
  --clr-footer-btn: #d1d1d1;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: "calibri, sans-serif";
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 1280px;
  margin: 2rem auto;
}

.container:nth-of-type(1) {
  margin: 0 auto;
}

.header__image {
  display: grid;
}

.slider-section .swiper-button-next {
  display: none;
}

.slider-section .swiper-button-prev {
  display: none;
}

.header__image_sub-title {
  text-align: center;
}

.header_logo {
  height: 100px;
  padding: 1rem;
  z-index: 999;
  place-self: start start;
}

.header__image > * {
  grid-area: 1/1/2/2;
}
.header__image_title {
  width: 70%;
  line-height: 1;
  font-size: 5rem;
  margin-top: 5rem;
  place-self: start end;
  z-index: 999;
}

.header__image_title span {
  color: var(--clr-red);
}

.header__image_sub-title {
  align-self: flex-end;
  justify-self: center;
  z-index: 999;
  font-size: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.info p {
  margin: 0;
}

.grid-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.grid-product:nth-of-type(1) {
  grid-area: span 2 / span 2;
}
.grid-product:nth-of-type(3) {
  display: grid;
  place-items: center;
}
.grid-product:nth-of-type(3):hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 50ms ease-in-out;
}
.grid-product:nth-of-type(3) > * {
  grid-area: 1/1/2/2;
}
.grid-product:nth-of-type(3) > *:last-child {
  padding: 3rem;
  place-self: end end;
  color: white;
}

.grid-product:nth-of-type(4) {
  display: grid;
  place-items: center;
}
.grid-product:nth-of-type(4):hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 50ms ease-in-out;
}

.grid-product:nth-of-type(4) > * {
  grid-area: 1/1/2/2;
}
.grid-product:nth-of-type(4) > *:last-child {
  padding: 3rem;
  place-self: end start;
  color: white;
}

.grid-products img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.slider-section {
  margin: 5rem auto;
}

.slider {
  display: flex;
  flex-direction: column;
}

.slider__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.slider__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.lowerSlider .slider__card {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column-reverse;
}

.slider__card_text {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
  background-color: var(--clr-card-bg);
}
.slider__card_text h3 {
  line-height: 1;
  margin: 0;
  font-size: 20px;
  font-family: "calibri";
}

.slider__card_text p {
  font-size: 14px;
  font-family: "calibri";
}

.slider__card_img {
  object-fit: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-section {
  position: relative;
}

.slider__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrows {
  display: flex;
}

.arrows img:hover {
  cursor: pointer;
}

.swiper-button-next {
  position: absolute;
  top: -300px;
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  margin-top: 0px;
}

.section-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-cards h2 {
  font-size: 2rem;
}

.section-cards__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.section-cards__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-cards__card button {
  margin-top: auto;
  color: black;
  background-color: transparent;
  border: none;
}
.section-cards__card button:hover {
  cursor: pointer;
}

.footer {
  display: grid;
}

.footer > * {
  grid-area: 1/1/2/2;
}

.footer__desc {
  display: flex;
  padding: 3rem;
  flex-direction: column;
  gap: 1rem;
  z-index: 999;
}

.footer__btn {
  padding: 1rem 1.5rem;
  border: none;
  background-color: var(--clr-footer-btn);
}
.footer__btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 1025px) {
  .slider__nav {
    display: none;
  }

  .container {
    max-width: 100%;
    padding: 0;
    margin: 2rem auto;
  }

  .header {
    margin-bottom: 2rem;
  }

  .info {
    gap: 0;
  }
  .info__text {
    padding: 0 1rem;
  }

  .header__image_title {
    width: 100%;
    line-height: 1;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0;
    text-align: end;
    place-self: start center;
    z-index: 999;
  }
  .header__image_sub-title {
    align-self: flex-end;
    justify-self: center;
    z-index: 999;
    line-height: 1;
    padding: 0 1rem;
    font-size: 18px;
  }

  .header_logo {
    height: 50px;
  }
  .section-cards h2 {
    padding: 0 1rem;
    font-size: 2rem;
    line-height: 1;
  }

  .section-cards__card > *:not(:first-child) {
    padding: 0 0.5rem;
  }
  .grid-products {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid-product:nth-of-type(1) {
    grid-area: 1/1/2/2;
  }
  .section-cards__wrapper {
    grid-template-columns: 1fr;
  }
  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .footer__desc {
    padding: 0.5rem;
  }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Utility classes*/

.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-900 {
  font-weight: 900;
}
