/*#region Fonts*/

@font-face {
    font-family: Segoe UI;
    font-weight: 900;
    src: url(../fonts/Segoe-UI-Black.ttf);
}
@font-face {
    font-family: Segoe UI;
    font-weight: 700;
    src: url(../fonts/Segoe-UI-Bold.ttf);
}
@font-face {
    font-family: Segoe UI;
    font-weight: 600;
    src: url(../fonts/Segoe-UI-SemiBold.ttf);
}
@font-face {
    font-family: Segoe UI;
    font-weight: 400;
    src: url(../fonts/Segoe-UI-Regular.ttf);
}
@font-face {
    font-family: Segoe UI;
    font-weight: 300;
    src: url(../fonts/Segoe-UI-Light.ttf);
}

/*#endregion*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

.container{
    width: 90%;
    margin: 0 auto;
}

section{
    overflow: hidden;
}

/*#region Header Codes*/

header{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding: 2.5rem 0;
    background-color: transparent;

    &.edm3{
        .container{
            justify-content: flex-end;

            #header-logo{
                margin-right: 12.5%;
            }
        }
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        #header-logo{
            height: 2.75rem;

            img{
                height: 100%;
                object-fit: contain;
            }
        }
        #microsoft-logo{
            height: 4.5rem;

            img{
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

/*#endregion*/

/*#region Main Codes*/

main{

    section#home{
        background-color: #0583CF;
        height: 100vh;
        padding-bottom: 7rem;
        display: flex;
        align-items: flex-end;

        &.edm1{
            background-color: transparent;
            background-image: url(../img/edm1-home-bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .container{
                justify-content: flex-end;

                #home-content{
                    margin-right: 10%;

                    h1{
                        text-align: left;
                        color: #000;

                        span{
                            color: #FF0000;
                        }
                    }
                }
            }
        }

        &.edm3{
            background-color: transparent;
            background-image: url(../img/edm3-home-bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .container{
                justify-content: flex-end;

                #home-content{
                    h1{
                        text-align: left;
                        font-size: 12rem;
                        color: #000;

                        span{
                            color: #FF0000;
                        }
                    }
                }
            }
        }

        .container{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            #home-image{
                width: calc(50% - 2rem);
            }

            #home-content{
                h1{
                    text-align: right;
                    text-transform: uppercase;
                    font-size: 10rem;
                    font-weight: 900;
                    color: #FFF;
                    line-height: 1;

                    span{
                        color: #FFE800;
                    }
                }
            }
        }
    }

    section#features{
        margin: 4rem 0 7rem 0;

        .container{
            #features-title{
                text-align: center;
                padding-bottom: 3rem;
                margin-bottom: 3rem;
                border-bottom: 0.1rem solid #bebebe;

                h2{
                    font-size: 3.6rem;
                    font-weight: 400;
                    color: #000;
    
                    b{
                        font-weight: 700;
                    }
                }
            }

            #features-content{
                text-align: center;

                p{
                    font-size: 3rem;
                    line-height: 1.25;
                    font-weight: 400;
                    color: #000;
                    line-height: 1.6;
                    
                    &:first-child{
                        margin-bottom: 2.5rem;
                    }

                    &.small{
                        font-size: 1.7rem;
                        line-height: 1.25;
                    }
                }
            }
        }
    }
 
    section#shop{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 4rem;

        #shop-content{
            width: 55%;

            img{
                width: 100%;
                object-fit: cover;
            }
        }

        #shop-images{
            width: 45%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;

            .shop{
                position: relative;
                width: 50%;
                height: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding: 2rem;

                &:nth-child(3){
                    justify-content: flex-start;
                }
                
                img{
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    z-index: -1;
                }

                a{
                    font-size: 1.7rem;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
    }

    section#services{
        margin-bottom: 7rem;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;

        &.lp{
            margin-bottom: 5rem;

            #services-title{
                width: 100%;
                padding: 0 5%;
                background-color: transparent;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                h2{
                    margin-bottom: 0;
                }

                #services-buttons{
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    img{
                        position: static;
                        cursor: pointer;
                        width: 2.25rem;
                        margin-top: 0;

                        &:first-child{
                            margin-right: 2.25rem;
                        }
                    }
                }
            }
            #services-content{
                padding-left: 0;
                background-color: transparent;
                flex-wrap: wrap;

                .service{
                    min-height: 35rem;
                    margin-bottom: 2rem;
                    background-color: #FBF9F9;
                }
            }
        }

        #services-title{
            width: calc(52.5% + 2rem);
            padding: 0 4rem 0 5%;
            background-color: #FBF9F9;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 4rem;

            h2{
                font-size: 3.6rem;
                font-weight: 400;
                color: #000;
                margin-bottom: 1.5rem;
                letter-spacing: -0.1rem;

                b{
                    font-weight: 700;
                }
            }

            p{
                font-size: 1.7rem;
                font-weight: 400;
                color: #000;
                line-height: 1.6;
                margin-bottom: 3rem;
            }

            a{
                font-size: 1.7rem;
                font-weight: 600;
                color: #000;
                text-decoration: underline;
            }
        }

        #services-image{
            width: calc(47.5% - 2rem);
            margin-bottom: 4rem;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        #services-content{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            padding-left: 5%;
            background-color: #FBF9F9;
            
            .service{
                width: 33.3333%;
                display: flex;
                justify-content: flex-start;
                align-items: stretch;

                .service-text{
                    width: 60%;
                    padding: 5rem 2rem 0 2rem;

                    h3{
                        font-size: 2.6rem;
                        font-weight: 400;
                        color: #000;
                        margin-bottom: 1.5rem;
                    }

                    p{
                        font-size: 1.6rem;
                        font-weight: 400;
                        color: #000;
                        line-height: 1.6;
                        margin-bottom: 2rem;
                    }

                    a{
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: #000;
                        text-decoration: underline;
                    }
                }

                .service-image{
                    width: 40%;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }

    section#product{
        margin-bottom: 5rem;

        #product-title{
            margin-bottom: 4rem;

            .container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                h2{
                    font-size: 3.6rem;
                    font-weight: 400;
                    color: #000;
                    margin-bottom: 1.5rem;
                    letter-spacing: -0.1rem;
                } 

                #product-buttons{
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 5%;

                    img{
                        position: static;
                        cursor: pointer;
                        width: 2.25rem;
                        margin-top: 0;

                        &:first-child{
                            margin-right: 2.25rem;
                        }
                    }
                }
            }
        }

        #product-content{
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;

            .product{
                width: calc(33.33% - 1.5rem);
                margin: 0 0.75rem 2rem 0.75rem;

                .product-image{
                    height: 20rem;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .product-text{
                    padding: 4rem 3rem 1.5rem 3rem;
                    background-color: #FBF9F9;
                    text-align: center;
                    min-height: 18rem;

                    h3{
                        font-size: 2rem;
                        font-weight: 600;
                        color: #000;
                        letter-spacing: -0.1rem;
                    }

                    p{
                        font-size: 1.6rem;
                        font-weight: 400;
                        color: #000;
                        line-height: 1.6;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }

    section#blog{
        margin-bottom: 7rem;

        .container{
            #blog-title{
                margin-bottom: 4rem;

                h2{
                    font-size: 3.6rem;
                    font-weight: 400;
                    color: #000;
                    margin-bottom: 1.5rem;
                    letter-spacing: -0.1rem;
                }
            }
            #blog-content{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
    
                .blog{
                    width: calc(33.33% - 1.5rem);
                    
                    .blog-image{
                        height: 20rem;
                        margin-bottom: 2.5rem;
    
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .blog-text{
                        h3{
                            font-size: 2rem;
                            font-weight: 600;
                            color: #000;
                            letter-spacing: -0.1rem;
                            margin-bottom: 1.5rem;
                        }
                        
                        p{
                            font-size: 1.6rem;
                            font-weight: 400;
                            color: #000;
                            line-height: 1.6;
                            margin-bottom: 2rem;
                        }
                            
                        a{
                            font-size: 1.6rem;
                            font-weight: 600;
                            color: #000;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    section#help{
        margin-bottom: 7rem;
        background-color: #FBF9F9;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        #help-image{
            width: calc(47.5% - 2rem);

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        #help-content{
            width: calc(52.5% - 2rem);
            padding: 1.5rem 5% 1.5rem 0;
            text-align: right;

            h2{
                font-size: 3.6rem;
                font-weight: 400;
                color: #000;
                margin-bottom: 1.5rem;
                letter-spacing: -0.1rem;

                b{
                    font-weight: 700;
                }
            }

            p{
                font-size: 1.7rem;
                font-weight: 400;
                color: #000;
                line-height: 1.6;
                padding: 0.75rem 0;
            }
        }
    }

    section#security{
        padding: 3rem 0;
        background-image: url(../img/security-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top right;
        background-color: #F2F2F2;
        margin-bottom: 7rem;

        .container{
            #security-title{
                max-width: 80rem;
                margin-bottom: 4rem;

                h2{
                    font-size: 3.6rem;
                    font-weight: 400;
                    color: #000;
                    margin-bottom: 2rem;
                    letter-spacing: -0.1rem;
                }

                p{
                    font-size: 2rem;
                    font-weight: 400;
                    color: #000;
                    line-height: 1.6;
                }
            }
            #security-content{
                max-width: 80rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                ul{
                    li{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 1.25rem 0;

                        img{
                            width: 4rem;
                            height: 4rem;
                            margin-right: 3rem;
                        }

                        p{
                            font-size: 1.7rem;
                            font-weight: 400;
                            color: #000;
                        }
                    }
                }

                a{
                    background-color: #D1D1D1;
                    padding: 1.25rem 10rem 1.25rem 2rem;
                    font-size: 2rem;
                    font-weight: 400;
                    color: #000;
                    letter-spacing: -0.1rem;

                    &:first-child{
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }
}

/*#endregion*/

/*#region Footer Codes*/

footer{
    letter-spacing: -0.1rem; 
    
    #footer-info{
        margin-bottom: 4rem;

        .container{
            p{
                font-size: 2rem;
                font-weight: 300;
                color: #E20074;
                letter-spacing: -0.1rem;
            }
        }
    }

    #footer-content{
        background-color: #F2F2F2;
        padding: 4rem 0;

        p{
            font-size: 1.7rem;
            font-weight: 400;
            color: #000;
            line-height: 1.6;

            span,a{
                color: #E20074;
                font-weight: 600;
            }
        }

        .container{
            #footer-notice,#footer-copyright,#footer-contact{
                margin-bottom: 3rem;
            }
            #footer-contact{
                ul{
                    li{
                        font-size: 1.7rem;       
                        font-weight: 600;
                        color: #E20074;
                        line-height: 1.6;
                    }
                }
            }
        }
    }
}

/*#endregion*/

/*#region Responsive Codes*/

@media screen and (max-width: 1024px){
    html{
        font-size: 11px;
    }
    
    header{
        &.edm3{
            .container{
                justify-content: space-between;
    
                #header-logo{
                    margin-right: 0;
                }
            }
        }

        .container{
            #header-logo{
                height: 2.25rem;
            }
            #microsoft-logo{
                height: 3rem;
            }
        }
    }

    main{
        section#home{
            &.edm1,&.edm3{
                .container{
                    #home-content{
                        width: 100%;
    
                        h1{
                            font-size: 8rem;
                        }
                    }
                }
            }

            .container{
                #home-image{
                    display: none;
                }
                #home-content{
                    width: 100%;

                    h1{
                        font-size: 8rem;
                    }
                }
            }
        }
        section#shop{
            flex-direction: column;

            #shop-content{
                width: 100%;
            }
            #shop-images{
                width: 100%;

                .shop{
                    height: 25rem;
                }
            }
        }
        section#services{
            #services-image{
                width: 100%;
                order: -1;
                margin-bottom: 0;
            }
            #services-title{
                width: 100%;
                padding: 1.5rem 5%;
            }
            #services-content{
                flex-direction: column;
                justify-content: flex-start;
                padding: 0;
                background-color: transparent;

                .service{
                    width: 100%;
                    background-color: #FBF9F9;
                    flex-direction: column;
                    margin-bottom: 3rem;

                    &:last-child{
                        margin-bottom: 0;
                    }
                    
                    .service-image{
                        order: -1;
                        width: 100%;
                        height: 25rem;
                    }

                    .service-text{
                        width: 100%;
                        padding: 1.5rem 5%;
                    }
                }
            }
        }
        section#product{
            #product-content{
                .product{
                    width: 100%;
                }
            }
        }
        section#blog{
            .container{
                #blog-content{
                    flex-direction: column;

                    .blog{
                        width: 100%;
                        margin-bottom: 4rem;

                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        section#help{
            flex-direction: column;

            #help-image,#help-content{
                width: 100%;
            }
        }
        section#security{
            background-image: none;
        }
    }
}
@media screen and (max-width: 768px){
    html{
        font-size: 10px;
    }
    main{
        section#home{
            height: 94vh;
        }
    }
}
@media screen and (max-width: 468px){
    html{
        font-size: 9.25px;
    }
}
@media screen and (max-width: 425px){
    html{
        font-size: 9px;
    }
}
@media screen and (max-width: 400px){
    html{
        font-size: 8.75px;
    }
}
@media screen and (max-width: 375px){
    html{
        font-size: 8.5px;
    }
}
@media screen and (max-width: 350px){
    html{
        font-size: 8.25px;
    }
}
@media screen and (max-width: 325px){
    html{
        font-size: 8px;
    }
}

/*#endregion*/
